<html>
<head>
<style>
body {
  color: #004d66;
  background-color: #fff2e6;
  border: 5px solid #ffd9b3;
  padding: 30px;
}
h1 {
  text-align: center;
  color: #006080;
  font-family: verdana;
  font-size: 300%;
}
</style>
<script>
  $(document).ready(function(){
    $('#id_file').attr("multiple","true");

  })
 </script>
</head>
<body>
<h1>Internet Speeds / Postcode</h1>
    <div>
        <table>
                <tr>
                    <th>Total Postal Areas</th>
                    <th>Total Fixed Postcodes</th>
                </tr>
                <tr>
                    <td align="right">{{ total_areas }}</td>
                    <td align="right">{{ total_codes }}</td>
                </tr>
        </table>
    </div>

    <div>
        <form action="{% url 'internet_speed:search_results' %}" method="get">
        <input name="q" type="text" placeholder="Search Postcode...">
        </form>
    </div>

    <div>
    <a href="{% url 'internet_speed:pc_areas_list' %}">Browse Postcode Areas</a>
    </div>

</body>
<html>
